# MarkEditor
.Archive/
.sync/
.sort
.*_configs.data
.markeditor_ignore
sync_changes.log

# MS Office temp file
~$*

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
产品/Young/备用资料/专利/一种用户发送表情改变用户状态的交互方法 专利配图.vsdx
产品/Young/备用资料/专利/一种用户发送表情改变用户状态的交互方法.doc
产品/Young/16 我要守护.md
