* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  outline: none;
  -webkit-font-smoothing: antialiased; }


  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%; }

    body {
      text-rendering: optimizeLegibility;
      font-smoothing: antialiased;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.2px;
      text-size-adjust: 100%; }

      a {
        text-decoration: none; }

        a:focus {
          -moz-outline-style: none; }

          body {
            overflow-x: hidden;
            left: 0; }

            .index {
              top: 0;
              left: 0;
              bottom: 0;
              z-index: 1;
              color: #364149;
              background: #fafafa;
              border-right: 1px solid rgba(0, 0, 0, 0.07); }
              .index ul.index_body {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-y: auto;
                list-style: none;
                margin: 0;
                padding: 0;
                font-size: 14px;
                padding-bottom: 10px; }
                .index ul.index_body li.title {
                  text-align: center;
                  border-bottom: 1px solid #e7e7e7; }
                  .index ul.index_body li.title a {
                    line-height: 1.2;
                    padding: 13px 0;
                    font-size: 16px;
                    font-weight: bold;
                    color: #222;
                    width: 85%; }
                    .index ul.index_body li.title a:hover {
                      color: #008cff; }
                .index ul.index_body li {
                  list-style: none;
                  line-height: 1.2;
                  padding: 0;
                  margin: 0; }
                  .index ul.index_body li a, .index ul.index_body li span,
                  .index ul.index_body li .folder_caption {
                    display: block;
                    padding: 10px 15px;
                    border-bottom: none;
                    color: #364149;
                    background: 0 0;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    position: relative; }
                    .index ul.index_body li .folder_caption {
                      color: #222;
                      font-weight: bold;
                      padding-bottom: 5px;
                      padding-top: 15px; }
                      .index ul.index_body li a:hover, .index ul.index_body li.active > a {
                        color: #008cff;
                        background: 0 0;
                        text-decoration: none; }
                        .index ul.index_body li ul {
                          padding-left: 20px; }

#search_bar {
  position: fixed;
  right: 5px;
  top: 5px;
  z-index: 999;
  padding: 0 10px 5px 10px;
  background: #fff; }
  #search_bar input {
    font-size: 12px;
    padding: 2px 3px; }

.content {
  max-width: 94%;
  margin: 0 auto; }
  .content .search_result {
    margin: 50px 30px auto 30px; }
    .content .search_result p {
      color: #888;
      font-size: 16px; }
      .content .search_result p b {
        color: indianred;
        font-weight: normal; }
    .content .search_result a {
      color: #333;
      font-size: 16px;
      padding-bottom: 3px;
      border-bottom: 1px dotted #ddd;
      line-height: 1.8; }
      .content .search_result a:hover {
        border-bottom: 1px solid #333; }
    .content .search_result ul {
      margin: 0;
      padding: 0; }
      .content .search_result ul li {
        list-style: none;
        padding: 5px 0; }
  .content .post_title {
    font-size: 2.3em;
    padding-bottom: 0.6em;
    border-bottom: 1px solid #eee;
    margin-bottom: 1.2em; }
    .content .post_body {
      word-wrap: break-word;
      color: #333;
      line-height: 1.7;
      padding-bottom: 20px; }
      .content .post_body h2 {
        margin-top: 2.5em;
        color: #008cff; }
        .content .post_body h2:first-child {
          margin-top: 0; }
  .content .doc_toc a {
    text-decoration: none;
    color: #008cff;
    line-height: 1.2;
    font-size: 12px;
    display: inline-block;
    border-bottom: none;
    word-break: normal; }
    .content .doc_toc a:hover, .content .doc_toc a.selected {
      background: #008cff;
      color: white;
      border-bottom: none; }
  .content .doc_toc li {
    line-height: 1.6; }
    .content .doc_toc .nav > ul > li {
      margin: 1em auto; }
      .content .doc_toc .nav ul > li.active > a {
        color: indianred; }
        .content .doc_toc .nav ul > li.active > ul .current_active a {
          color: #111; }

.markdown code {
  background: #fffecc;
  padding: 0 5px;
  margin: 0 2px;
  border: none; }
  .markdown blockquote .p_part p, .markdown li .p_part p {
    text-indent: 0 !important; }
    .markdown ol, .markdown ul {
      line-height: 2.1; }
      .markdown blockquote {
        border-left-color: #16b0ff; }
        .markdown pre {
          border: 1px solid #e6e6e6;
          border-left: none;
          border-right: none;
          margin-top: 1.2em;
          margin-bottom: 2.2em;
          padding: 15px 20px;
          display: block;
          overflow: auto;
          background: #fdfdfd; }
          .markdown h3 {
            font-size: 1.35em;
            margin: 2.35em 0 1em 0;
            color: #333; }
            .markdown h4 {
              font-size: 1.15em;
              color: indianred; }
              .markdown h5 {
                font-size: 1.05em;
                font-weight: bold; }
                .markdown table {
                  margin: 2em 0 3em 0; }
                  .markdown strong, .markdown b {
                    color: #000; }
                    .markdown img {
                      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25); }

.index ul::-webkit-scrollbar {
  width: 10px; }

  .index ul::-webkit-scrollbar-button {
    display: none; }

    .index ul::-webkit-scrollbar-track {
      background: white; }

      .index ul::-webkit-scrollbar-thumb {
        min-height: 1rem;
        background-color: #ccc;
        background-clip: padding-box;
        border: 3px solid #fdfdfd;
        border-radius: 5px; }

        .index ul::-webkit-scrollbar-thumb:active {
          background-color: #999;
          border-width: 2px; }

          .sidebar {
            left: 0px;
            right: auto;
            border-right: 1px solid #eee;
            width: 250px;
            height: 100%;
            top: 0;
            position: fixed;
            z-index: 1000;
            background: #fafafa; }

            .sidebar_clicker {
              top: 5px !important;
              left: 5px !important;
              margin: 0 !important;
              width: 16px !important;
              height: 20px !important; }

              .sidebar_clicker .bar:after {
                top: 5px !important; }

                .sidebar_clicker .bar:before {
                  top: -5px !important; }