{
    "root_filepath": "/Users/guopengliang/Documents/work/\u6c42\u77e5\u9e1f/StudyBird.wiki/\u4ea7\u54c1/billGuo/document/\u8fd0\u8425\u9700\u6c42", 
    "model": "mix", 
    "children_filepath": "/Users/guopengliang/Documents/work/\u6c42\u77e5\u9e1f/StudyBird.wiki/\u4ea7\u54c1/billGuo/document/\u8fd0\u8425\u9700\u6c42/\u5916\u90e8\u6d41\u91cf\u5408\u4f5c\u5bfc\u6d41.md"
}